<div class="flex flex-col min-h-screen bg-slate-200">
  <header class="pb-24 text-white bg-slate-800">
    <nav class="container p-2 mx-auto border-b border-slate-700">
      <div class="flex items-center justify-between">
        <%= link_to root_path do %>
          <%= image_tag('icon.svg', class: 'w-8 h-8') %>
        <% end %>
        <div>
          <% if helpers.signed_in? %>
            <div>
              <div class="relative" x-data="{ isOpen: false }" @click.outside="isOpen = false">
                <button @click="isOpen = !isOpen">
                  <img
                    class="w-8 h-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt="Profile Image"
                  />
                </button>
                <ul
                  x-show="isOpen"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 w-32 py-1 mt-1 origin-top-right rounded shadow z text-slate-700 bg-slate-50"
                >
                  <li class="border-b hover:bg-slate-200">
                    <%= link_to 'Profile', profile_path, class: 'block px-4 py-2' %>
                  </li>
                  <li class="hover:bg-slate-200">
                    <%= form_tag session_path, method: 'DELETE' do %>
                      <button class="block px-4 py-2">Sign Out</button>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% else %>
            <%= link_to 'Sign In', new_session_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container p-4 mx-auto">
      <h1 class="text-2xl font-semibold"><%= @title %></h1>
    </div>
  </header>

  <main class="flex-1 -mt-24">
    <div class="container mx-auto bg-white rounded shadow overflow-clip">
      <% flash.each do |type, data| %>
        <%= render NotificationComponent.new(type: type, data: data) %>
      <% end %>
      <div class="p-4">
        <%= content %>
      </div>
    </div>
  </main>

  <footer>
    <div class="container py-4 mx-auto mt-4 border-t border-slate-300 text-slate-400">
      <p class="text-sm font-light">
        &copy; 2022 Suncoast Developers Guild, Inc. &mdash; Built with <span class="text-red-600">&hearts;</span> in St.
        Petersburg, Florida.
      </p>
    </div>
  </footer>
</div>
